# Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Variables de entorno
.env

# Datos binarios / empaquetados
*.zip

# Sistema
.DS_Store
Thumbs.db

# Agentes
.agents
HANDOFF.md
